body {

    background-color: rgba(0, 0, 0, 0.773);

    

    
    display: flex;
    flex-direction: column;
   
  

}


#fd {

    background-color: rgb(0, 0, 0);
    border-bottom: solid 2px rgb(244, 244, 244) ;

    width: 100%;
    height: 300px;


    display: flex;
    align-items: center;



}

#myname {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(255, 255, 255, 0.883);
    margin-left: -300px;
    margin-top: -200px;
    
    
}

#img1 {

    width: 230px;
    height: 170px;
    border: solid 1px white;
    border-radius: 50%;
    border-style: none;

    padding-left: 50px;
    padding-right: 50px;
   
    margin-bottom: -80px;
   
}

#info1 {

    
    color: antiquewhite;

    margin-left: -263px;
    margin-top: -120px;
    

}

#btn1 {

    background-color: rgba(250, 235, 215, 0.805);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;

    border-radius: 10px;
    
    margin-top: 100px;
    margin-left: 100px;



}

#btn2 {

    background-color: rgba(250, 235, 215, 0.774);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;

    border-radius: 10px;
    
    margin-top: 100px;
    margin-left: 100px;
    
}


#btn3 {

    background-color: rgba(250, 235, 215, 0.728);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;

    border-radius: 10px;
    
    margin-top: 100px;
    margin-left: 100px;
    
}

a {

    color: rgb(0, 0, 0);
    text-decoration: none;


}

#sd {

    margin-top: 60px;
    background-color: rgba(191, 185, 139, 0.276);
    border-bottom: solid 2px rgb(244, 244, 244) ;

    width: 50%;
    height: 300px;

    display: flex;
    flex-direction: column;

}

#aboutme {


    color: antiquewhite;
    text-align: center;





}

#td {

    margin-top: -302px;
    background-color: rgba(110, 121, 203, 0.276);
    border-bottom: solid 2px rgb(244, 244, 244) ;

    width: 50%;
    height: 300px;

    display: flex;
    align-items: center;

    margin-left: 671px;
    margin-right: 30px;

    display: flex;
    flex-direction: column;



}



#myname2 {

    color: white;
    font-size: 30px;
    margin-left: 10px;


} 


#aboutme2 {


    color: rgb(0, 0, 0);
    font-size: 20px;
    margin-left: 10px;

}


#MyProjects {

    color: white;
    text-align: center;



}


#fod   {


    border-bottom: 2px solid white;
    background-color: rgba(165, 42, 42, 0.264);
    margin-top: 10px;
    display: flex;
    flex-direction: row;


}

#img2 {

    width: 300px;
    border: 2px solid black;
    margin-left: 60px;

}

#img3 {

    width: 300px;
    border: 2px solid black;

}

#img4 {

    width: 300px;
    border: 2px solid black;

}

#img5 {

    width: 300px;
    border: 2px solid black;

}

#Contactme1 {

    color: white;
    text-align: center;

}


#fid  {


    border-bottom: 2px white solid;
    background-color: rgba(127, 255, 212, 0.393);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

#contactme100 {


        color: white;

}

#footer  {


    color: darksalmon;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-top: 20px;



}


@media (max-width: 600px) {

  
  body {
    overflow-x: hidden;
  }

  
  #fd {
    flex-direction: column;
    height: auto; 
    padding: 20px;
  }

 
  #myname,
  #info1 {
    margin: 0;
    text-align: center;
  }

  #img1 {
    margin-bottom: 20px;
  }

 
  #btn1,
  #btn2,
  #btn3 {
    margin: 10px 0;
    width: 50%;
    text-align: center;
  }

 
  #sd,
  #td {
    width: 100%;
    margin: 20px 0;
    height: auto;
  }

  #fod {

    flex-direction: column;
    height: auto; 
    padding-left: 0%;
    text-align: center;

  }


  



}



@media (max-width: 900px) {

  #fd {
    flex-wrap: wrap;
    height: auto;
  }

  #sd {
    width: 100%;
    margin-left: 0;
  }

   #td {
    display: block;          
    padding: 20px;           
    overflow: visible; 
    width: 100%;  
  }

  #fod {

    flex-direction: column;
    height: auto; 
    padding-left: 0%;
    text-align: center;
    width: 100%;

  }

}
